<ion-split-pane contentId="main-content">

  <ion-menu *ngIf="platform.is('mobile')" side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Categories</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none">
        <ion-menu-toggle auto-hide="false"><ion-item button><ion-label>World</ion-label></ion-item></ion-menu-toggle>
        <ion-menu-toggle auto-hide="false"><ion-item button><ion-label>Politics</ion-label></ion-item></ion-menu-toggle>
        <ion-menu-toggle auto-hide="false"><ion-item button><ion-label>Business</ion-label></ion-item></ion-menu-toggle>
        <ion-menu-toggle auto-hide="false"><ion-item button><ion-label>Opinion</ion-label></ion-item></ion-menu-toggle>
        <ion-menu-toggle auto-hide="false"><ion-item button><ion-label>Tech</ion-label></ion-item></ion-menu-toggle>
        <ion-menu-toggle auto-hide="false"><ion-item button><ion-label>Food</ion-label></ion-item></ion-menu-toggle>
        <ion-menu-toggle auto-hide="false"><ion-item button><ion-label>Health</ion-label></ion-item></ion-menu-toggle>
        <ion-menu-toggle auto-hide="false"><ion-item button><ion-label>Travel</ion-label></ion-item></ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div style="display: flex; flex-flow: column;" *ngIf="platform.is('desktop')">
    <ion-toolbar>
      <ion-title><h1>LYNCROS TIMES</h1></ion-title>
    </ion-toolbar>
    <ion-list>
      <ion-item>
        <ion-label>
          Item
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          No Lines Item
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="ion-text-wrap">
        Multiline text that should wrap when it is too long
        to fit on one line in the item.
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h3>H3 Primary Title</h3>
          </ion-text>
          <p>Paragraph line 1</p>
          <ion-text color="secondary">
            <p>Paragraph line 2 secondary</p>
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-item lines="full">
        <ion-label>
          Item with Full Lines
        </ion-label>
      </ion-item>

    </ion-list>
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button (click)="clickedSearch()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-searchbar placeholder="Search Favorites"></ion-searchbar>
    </ion-toolbar>
    <ion-toolbar>
      <ion-segment value="all">
        <ion-segment-button value="all">
          All
        </ion-segment-button>
        <ion-segment-button value="favorites">
          Favorites
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

    <ion-toolbar color="dark">
      <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button color="danger">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Dark Toolbar</ion-title>
    </ion-toolbar>

    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button color="secondary">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Default Buttons</ion-title>
    </ion-toolbar>

    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button fill="solid">
          <ion-icon slot="start" name="person-circle"></ion-icon>
          Contact
        </ion-button>
      </ion-buttons>
      <ion-title>Solid Buttons</ion-title>
      <ion-buttons slot="primary">
        <ion-button fill="solid" color="secondary">
          Help
          <ion-icon slot="end" name="help-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button fill="outline">
          <ion-icon slot="start" name="star"></ion-icon>
          Star
        </ion-button>
      </ion-buttons>
      <ion-title>Outline Buttons</ion-title>
      <ion-buttons slot="primary">
        <ion-button color="danger" fill="outline">
          Edit
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button>
          Account
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button color="danger">
          Edit
        </ion-button>
      </ion-buttons>
      <ion-title>Text Only Buttons</ion-title>
    </ion-toolbar>
  </div>

  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-split-pane>